@model LocadoraVeiculos.WebApplication.ViewModels.ParceiroIndexViewModel

@section Header {

    @{await Html.RenderPartialAsync("_Header");}
}

<p>
    <a asp-action="Create">Novo parceiro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                <label asp-for="registros[0].Id"></label>
            </th>
            <th scope="col">
                <label asp-for="registros[0].Nome"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.registros)
        {
            <tr>
                <th scope="row">
                    <label>@item.Id</label>
                </th>
                <td>
                    <label>@item.Nome</label>
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
